<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="loglevel" value="ALL"/>
        <add key="use_queue" value="false"/>
        <add key="multithread" value="false"/>
        <add key="twitter_username" value="shhyder"/>
        <add key="twitter_password_encrypted" value="8fTKNm7UtQes8sfmaE1IcQ=="/>
        <add key="stream_url" value="https://stream.twitter.com/1/statuses/filter.json?"/>
    </appSettings>
</configuration>